@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #000020;
    font-family: 'Press Start 2P', cursive;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    image-rendering: pixelated;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem; /* Réduction de la marge pour mieux s'adapter */
    background: linear-gradient(90deg, #00FFFF, #FF00FF, #FFFF00, #00FFFF);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbow-scroll 4s linear infinite;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.4);
}

canvas {
    background-color: #1E90FF;
    display: block;
    box-shadow: 0 0 20px #00FFFF;
}

/* Style commun pour les modales */
#start-modal, #end-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100; /* NOUVEAU: Assure que la modale est au-dessus de tout */
}

#div-modal-content {
    background-color: #1a1a1a;
    padding: 40px;
    border-radius: 10px;
    border: 2px solid #00FFFF;
    text-align: center;
}

#div-modal-content h1 {
    color: #FFFFFF; /* Le titre de la modale n'a pas l'effet arc-en-ciel */
    background: none;
    -webkit-background-clip: initial;
    background-clip: initial;
}

#selectorLevel {
    font-size: 1.2rem;
    margin: 20px;
}

#button1Player, #button2Players, #editorButton, #buttonEditLevel,  #end-modal button {
    font-family: 'Press Start 2P', cursive; /* Assure la cohérence de la police */
    font-size: 1.5rem;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    background-color: #333;
    color: #FFF;
    border: 2px solid #FFF;
}

@keyframes rainbow-scroll {
    to {
        background-position: -200% center;
    }
}