@import url('https://fonts.googleapis.com/css2?family=Nosifier&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background: radial-gradient(circle, #5a0000, #000000 75%);
    font-family: 'Nosifier', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Empêche les barres de défilement dues aux lueurs */
}

h1 {
    font-size: 6rem;
    color: #ff1a1a;
    text-align: center;
    margin: 0 0 3rem 0;
    animation: text-flicker 4s linear infinite;
}

canvas {
    background-color: #000;
    display: block;
    border: 3px solid #330000;
    box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 40px #ff0000, inset 0 0 15px #ff0000;
    animation: border-pulse 2s infinite alternate;
}

@keyframes text-flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        text-shadow:
            0 0 5px #ff1a1a,
            0 0 10px #ff1a1a,
            0 0 20px #ff1a1a,
            0 0 40px #d40000,
            0 0 80px #d40000;
        color: #ff1a1a;
    }
    20%, 24%, 55% {
        text-shadow: none;
        color: #330000;
    }
}

@keyframes border-pulse {
    from {
        border-color: #660000;
        box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 40px #ff0000, inset 0 0 15px #ff0000;
    }
    to {
        border-color: #ff3333;
        box-shadow: 0 0 20px #ff0000, 0 0 40px #d40000, 0 0 60px #d40000, inset 0 0 20px #d40000;
    }
}